*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #520c95;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0em;
  background-color: transparent;
}
body{
    padding-right: 0em;
}
  
  /* Optional: Customize the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
  
  /* Optional: Customize the scrollbar track */
body::-webkit-scrollbar-track {
    background-color: transparent;
}
.nav {
    background-color: #f2f2f200;
    min-height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
.nav-logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
   
}
  
.nav-contents {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    
}

.contents{
    margin: 15px 30px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    color: #333;
    text-decoration: none;
}
.contents:hover{
    background-color: #591995;
    color: white;
    
}
.contents:active{
    transform:translateX(2px);
    transform:translateY(2px);
}
.intro{
	grid-column: span 3;
	grid-row: 2/3;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	
	z-index: 500;
	width: 100%;
	height: 88vh;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	animation: to_right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
	
}
@keyframes to_right{
    0%{
        width: 0;
        

    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
        

    }
}
.left{
    
    
    margin-top: 250px;
	opacity: 0;
    animation: fade-in 1s ease forwards;
	transition: 0.3s ease;
	z-index: 501;
	align-self: flex-start;
	height: 340px;
}

.right{
	z-index: 502;
	opacity: 0;
    animation: fade-in 1s ease forwards;
	flex-grow: 0.3;
}
@keyframes fade-in {
	50% {opacity: 0;}
	100% {opacity: 1;}
}
.left:hover .heading{
	animation: opacity_head 0.2s ease forwards;
	
}
.left .subheading{
	transition: font-size 0.3s ease;
    display: flex;
}
.left:hover .subheading{
	
	font-size: 65px;
}


@keyframes opacity_head{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.left:hover{
	transform: translateY(-100px);
	
}
.heading{
    
    display: flex;
	
	font-weight: bold;
	text-shadow: 0px 1px 20px rgba(53, 53, 53, 0.723);
	padding-left: 15%;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	
}
.subheading{
    font-weight: bold;
    padding-left: 15%;
    
	display: flex;
	text-shadow: 0px 1px 20px rgba(40, 40, 40, 0.779);
	font-size: 75px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
}
.intro_para{
	opacity: 0;
	max-width: 40vw;
	padding-left: 15%;
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.87);
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	color: rgb(255, 255, 255);
	text-align: justify;
    display: flex;
	
}
@keyframes opacity_head_rev{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.left:hover .intro_para{
	height: 340px;
	animation: opacity_head_rev 0.3s ease;
	animation-fill-mode: forwards;
	
}
/* .products{
	margin-top: 20px;
	
	font-weight: lighter;
	font-size: 29px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	border: 2px solid #ffffff;
	border-radius: 2px;
	padding:10px 10px 10px 10px;
	background-color: #0000004a;
	
}
.products:hover{
	background-color: #fff;
	color: #000;
	cursor: pointer;
	font-weight: 450;
	
}
.products:active{
	
	color: #ffffff;
	background-color: #00000000;
	cursor: pointer;
} */
.head-right img{
    max-width: 550px;
    position: relative;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;   
}
#stack1{
    z-index: 10;
    width: 120%;
}
#stack2{
    z-index: 8;
    width: 105%;
}#stack3{
    z-index: 7;
}
.second_page{
   
    color: #e3e3e3;
    margin-top: 150px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.des_page{
    max-width: 75%;
    min-width: 50%;
	font-family:'Poppins', sans-serif ;
	margin-top: 50px;
	border: 2px solid rgba(255, 255, 255, 0);
    background-color: #1d1d1d3c;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.522);
	padding: 20px 20px;
}

.con1 h1{
	transition: font-size 0.3s ease;
}
.con2 h1{
	transition: font-size 0.3s ease;
}
.con3 h1{
	transition: font-size 0.3s ease;
}


.des_headings{
	font-size: 30px;
	
	padding-left: 100px;
	
	
}
.des_headings_right{
	font-size: 30px;
	
	padding-right: 100px;
	text-align: right;
	
}
.para_left{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: justify;
	padding-right: 90px;
	padding-left: 40px;
	
}
.para_right{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: justify;
	padding-left: 90px;
	padding-right: 40px;
	
}
.line{
	border-bottom: 2px solid rgb(147, 147, 147);
	width: 100%;
}
.con1:hover h1{
	font-size:  45px;
}
.con2:hover h1{
	font-size:  45px;
}
.con3:hover h1{
	font-size:  45px;
}

.aboutus{
    margin-top: 60px;
    width: 100%;
    height: 20vh;
    background-color: #3e1364;
    border-top: 2px solid #ffffff;
}


@media (max-width: 600px) {
    /* Styles specific to smaller screens */
    .heading{
        font-size: 2rem;
        
    }
    .subheading{
        font-size: 0.8rem;
    }
    .head-right img{
        max-width: 300px;
        width: 100% ;
     
    }
    #stack1{
        width: 100%;
    }
    #stack2{
        width: 100%;
    }
    #stack3{
        width: 100%;
    }

  
  
@media (min-width: 601px) and (max-width: 900px) {
    .heading{
        font-size: 2.8rem;
        
    }
    
    .head-right img{
        max-width: 390px;
    }
}
@media only screen and (max-width: 820px) {
	.right{
		flex-grow: 0.3;
		opacity: 0;
		animation: fade-in 1s ease forwards;
		margin-left: auto;
		margin-right: auto;
		
	}
	.intro_para{
		opacity: 0;
		width: 80vw;
		padding-left: 110px;
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		color: rgb(255, 255, 255);
		text-align: justify;

	}
  }
}