body {
    background-image: url("../media/input_bg.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.nav {
    background-color: #f2f2f200;
    min-height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
.nav-logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
   
}
  
.nav-contents {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    
}

.contents{
    margin: 15px 30px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #520c95;
    border-radius: 30px;
    background-color: #520c95;
    color: #ffffff;
    text-decoration: none;
}
.contents:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size:bold ;
    
}
.contents:active{
    transform:translateX(2px);
    transform:translateY(2px);
}
.toggle_btn .material-symbols-outlined{
    color: rgb(86, 7, 138);
    cursor: pointer;
    display: none;
}
.container {
    max-width: 500px;
    margin: 130px auto;
    padding: 40px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.463);
    border-radius: 5px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    
   
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

label {
    font-family: 'Roboto', sans-serif;
    
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

button {
    align-self: center;
    background-color: #673AB7;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #512DA8;
}
@media (max-width: 850px) {
    .nav-contents{
        display: none;
    }
    
    .toggle_btn .material-symbols-outlined{
        display: block;
    }
}