<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
        <link rel="stylesheet" href="../static/css/input_page.css">
    </head>
    <body>
        <div class="parallax">
            <div class="object" data-value="4"></div>
        </div>
        <div class="nav-logo"></div>
        <div class="nav">
            
            <div class="nav-contents">
                <a href="/" class="contents home">Home</a>
             
              
                <a href="/input_page" class="contents details">Make Prediction</a>
            </div>
        </div>
        <div class="container">
            <form action="/process_input" method="post">
                <label for="age">Age:</label>
                <input type="text" id="age" name="age" required>

                <label for="Gender">Gender:</label>
                <input type="text" id="Gender" name="Gender" required>

                <label for="drug">Drug Dosage:</label>
                <input type="text" id="drug" name="drug" placeholder="(in mg)"  required>

                <label class="">Symptoms of Hypertension:</label>
                <input type="checkbox" id="hypertension" name="hypertension">
                <label>Family History of Hairloss</label><span>
                <input type="checkbox" id="hairloss" name="hairloss"></span>
               

                <label for="regimen">Chemotherapy Regimen:</label>
                <select id="regimen" name="regimen">
                    <option value="ABVD">ABVD</option>
                    <option value="BEP">BEP</option>
                    <option value="CMF">CMF</option>
                    
                </select>
                <div class="submit_area">
                    <button type="submit">Submit</button>
                </div>
            </form>
            
           

       
        
        <script src="" async defer></script>
    </body>
</html>