<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/output_page.css">
    </head>
    <body>
        <div class="parallax">
            <div class="object" data-value="3"></div>
        </div>
        <div class="nav">
            <div class="nav-logo"></div>
            <div class="nav-contents">

                <a href="/" class="contents home">Home</a>
                <a href="" class="contents about">About</a>
                <a href="/output_nohairloss" class="contents about">Results</a>
                <a href="/input_page" class="contents details">Make Prediction</a>
            </div>
        </div>
       
        <div class="second_page">
            <div class="first">
                <div class="first-ans">
                    ML Modal Prediction :- <span class="answer">  Complete Hair Loss</span>
                </div>
            </div>
            <div class="con1 des_page">
                <h1 class="des_headings">What does this mean for you?</span></h1>
                <br>
                <p class="para_left">Our prediction suggests that you may experience complete hair loss during your chemotherapy treatment. While this can be challenging, it's important to remember that hair loss is a temporary aspect of your journey, and many individuals find ways to embrace their appearance and maintain their self-confidence throughout the process.</p>
            </div>
                
            
                
            <div class="con2 des_page">
                <br>
                
                <h1 class="des_headings_right">Next Steps</h1>
                <br>
                <p class="para_right">Consider exploring various options for head coverings, such as scarves, hats, or wigs, to help you feel comfortable and confident during this period. Remember that it's entirely up to you to decide how you want to manage your appearance. Consult with your doctor and ask him for opinions. If you're feeling extremely anxious or worried about this, talk about it with your doctor or with people who are close to you. This will surely help relieve anxiety.</p>
            </div>
                
            
            <div class="con3 des_page">
                <br>
                
                <h1 class="des_headings">Guidance</h1>
                <br>
                <p class="para_left">Our website is dedicated to providing support and resources to help you navigate the challenges of complete hair loss during chemotherapy. While we are continually expanding our offerings, we encourage you to explore the following options:
                    <br><br>
                    Scalp Care: Maintaining a healthy scalp is important, even in the absence of hair. We recommend gentle cleansing with mild shampoos and moisturizing the scalp regularly to keep it hydrated. Additionally, protecting your scalp from the sun's harmful rays with hats or sunscreen is essential.
                    <br><br>
                    Head Coverings: Consider exploring different head coverings that suit your style and comfort. Scarves, turbans, and caps can be fashionable and provide a sense of identity and confidence during this time. Look for tutorials and styling tips online or seek advice from local cancer support organizations.
                    <br><br>
                    Emotional Support: Coping with hair loss can be emotionally challenging. It's crucial to acknowledge your feelings and seek support when needed. Connect with cancer support groups, therapists, or counseling services that specialize in assisting individuals navigating the emotional aspects of hair loss and cancer treatment.
                    <br><br>
                    Inspiration and Insights: While our community forum is still in development, you can seek inspiration and insights from online communities, social media platforms, or blogs dedicated to the experiences of cancer patients. Many individuals have shared their personal journeys and practical tips on embracing their appearance during hair loss.
                    <br><br>
                    Please note that our team is continuously working to expand our website's resources and support options. We appreciate your understanding as we strive to provide a comprehensive platform to assist individuals like you in managing complete hair loss during chemotherapy.</p>
                <br>
                <br>
            </div>
        </div>
        <section>
            <div class="aboutus">
                <div class="person per1">
                    <div class="per_heading">Keshav Kartha</div>
                    <div class="per_subheading">Machine Learning and Backend</div>
                    <div class="per_details">A highly analytical person who loves mathematics and problem solving.</div>
                </div>
                <div class="person per2">
                    <div class="per_heading">Gaurav Choudhary</div>
                    <div class="per_subheading">Frontend</div>
                    <div class="per_details">Aspiring front-end developer with a passion for design. I am currently honing my skills in web development and creating visually appealing user experiences.</div>
                </div>
                <div class="person per3">
                    <div class="per_heading">Sidhant Srivastava</div>
                    <div class="per_subheading">Machine Learning and Backend</div>
                    <div class="per_details">Programming enthusiast who loves backend development and machine learning.</div>
                </div>
                <div class="person per4">
                    <div class="per_heading">G Tejojith</div>
                    <div class="per_subheading">Management</div>
                    <div class="per_details">A curious person at heart, who has dabbled his feet in every field.
                    The manager for this team and helping out with the design as well.</div>
                </div>
            </div>
        </section>


        <script type="text/javascript">
            document.addEventListener("mousemove", parallax);
          
            function parallax(e) {
              document.querySelectorAll(".object").forEach(function (move) {
                var moving_value = move.getAttribute("data-value");
                var x = (e.clientX * moving_value) / 250;
                var y = (e.clientY * moving_value) / 250;
                move.style.transform = "translateX(" + x + "px) translateY(" + y + "px)";
              });
            }
          </script>
          

        <script src="../static/JavaScript/output.js" async defer></script>
    </body>
</html>