*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #520c95;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0em;
  background-color: transparent;
}
body{
    padding-right: 0em;
}
  
  /* Optional: Customize the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
  
  /* Optional: Customize the scrollbar track */
body::-webkit-scrollbar-track {
    background-color: transparent;
}
.nav {
    background-color: #00000038;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}
.nav-logo{
	position: absolute;
	top: 0;
	left: 0;
	margin: 8px 8px;
	height: 40px ;
	width: 200px;
	background-image: url(../media/Asset\ 2.png);
	background-position: center;
	background-size: contain;
	z-index: 999;
}
  

  
.nav-contents {
	backdrop-filter: blur(5px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;
	
    box-shadow:0px 2px 5px#33333367;
}

.contents{
    margin: 10px 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 20px;
    
    color: #ffffff;
    text-decoration: none;
	
}
.home{
	margin-left: 200px;
}
.contents:hover{
    background-color: #7410d7;
    color: white;
    
}
.contents:active{
    transform:translateX(2px);
    transform:translateY(2px);
}
.intro{
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	z-index: 500;
	width: 100%;
	height: 88vh;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	animation: to_right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
	
}
@keyframes to_right{
    0%{
        width: 0;
        

    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
        

    }
}
.left{
    
    padding-top: 30px;
    margin-top: 250px;
	opacity: 0;
    animation: fade-in 1s ease forwards;
	transition: 0.3s ease;
	z-index: 501;
	align-self: flex-start;
	height: 340px;
}

.right{
	z-index: 502;
	opacity: 0;
    animation: fade-in 1s ease forwards;
	flex-grow: 0.3;
}
@keyframes fade-in {
	50% {opacity: 0;}
	100% {opacity: 1;}
}
.left:hover .heading{
	animation: opacity_head 0.2s ease forwards;
	
}
.left .subheading{
	transition: font-size 0.3s ease;
    display: flex;
}
.left:hover .subheading{
	
	font-size: 65px;
}


@keyframes opacity_head{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.left:hover{
	transform: translateY(-100px);
	
}
.heading{
    
    display: flex;
	
	font-weight: bold;
	
	padding-left: 15%;
	font-size:  2vw;
	
	color: rgb(255, 255, 255);
	
}
.subheading{
    font-weight: bold;
    padding-left: 15%;
    
	display: flex;
	
	font-size: 5vw;
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
}
.intro_para{
	opacity: 0;
	max-width: 40vw;
	padding-left: 15%;
    
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	color: rgb(255, 255, 255);
	text-align: justify;
    display: flex;
	
}
@keyframes opacity_head_rev{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.left:hover .intro_para{
	height: 340px;
	animation: opacity_head_rev 0.3s ease;
	animation-fill-mode: forwards;
	
}

.head-right img{
    max-width: 550px;
    position: relative;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;   
}
#stack1{
    z-index: 10;
    width: 120%;
}
#stack2{
    z-index: 8;
    width: 105%;
}#stack3{
    z-index: 7;
}
.second_page{
   
    color: #e3e3e3;
    margin-top: 150px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.des_page{
    max-width: 75%;
    min-width: 50%;
	font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
	margin-top: 50px;
	border: 2px solid rgba(255, 255, 255, 0);
    background-color: #1d1d1d3c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(41, 41, 41, 0.325);
	padding: 20px 20px;
}

.con h1{
	transition: font-size 0.3s ease;
}
.con h1{
	transition: font-size 0.3s ease;
}
.con h1{
	transition: font-size 0.3s ease;
}


.des_headings{
	font-size: 30px;
	
	padding-left: 50px;
	
	
}
.wrapper{
    display: none;
}
.des_headings_right{
	font-size: 30px;
	
	padding-right: 50px;
	text-align: right;
	
}
.para_left{
	font-size: 18px;
	text-align: justify;
	padding-right: 90px;
	padding-left: 40px;
	
}
.para_right{
	
	font-size: 18px;
	text-align: justify;
	padding-left: 90px;
	padding-right: 40px;
	
}
.line{
	border-bottom: 2px solid rgb(147, 147, 147);
	width: 100%;
}
.con:hover h1{
	font-size:  40px;
}
.con:hover h1{
	font-size:  40px;
}
.con:hover h1{
	font-size:  40px;
}

.aboutus{
    margin-top: 90px;
   
    width: 100%;
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #150556;
    border-top: 2px solid #ffffff;
}
.person{
    
    padding: 70px 40px;
    width: 100%;
    border-left: 1px solid whitesmoke;
    height: 100%;
}
.per_heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #e3e3e3;
}
.per_subheading{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #9d9d9d;
}
.per_details{
    font-family: 'Wix Madefor Display', sans-serif;
    margin-top: 20px;
    color: #d6d6d6;
}
@media only screen and (max-width: 900px) {
    .aboutus{
        flex-direction: column;
        padding: 20px 0px;
        
        text-align: center;
    }
    .person{
        border-bottom: 2px solid whitesmoke;
    }
    .per_details{
        padding: 0px 150px;
    }
}
@media  only screen and (max-width: 600px) {
    
    .heading{
        font-size: 2rem;
        
    }
    .subheading{
        font-size: 0.8rem;
    }
    .head-right img{
        max-width: 300px;
        width: 100% ;
     
    }
    #stack1{
        width: 100%;
    }
    #stack2{
        width: 100%;
    }
    #stack3{
        width: 100%;
    }
    
  
  
@media  only screen and (min-width: 601px) and (max-width: 900px) {
    .heading{
        font-size: 2.8rem;
        
    }
    
    .head-right img{
        max-width: 390px;
    }
}
@media only screen and (max-width: 820px) {
	.right{
		flex-grow: 0.3;
		opacity: 0;
		animation: fade-in 1s ease forwards;
		margin-left: auto;
		margin-right: auto;
		
	}
	.intro_para{
		opacity: 0;
		width: 80vw;
		padding-left: 110px;
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		color: rgb(255, 255, 255);
		text-align: justify;

	}
    
  }
}
