body {
   
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.object {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120%;
    height: 100vh;
    background-image: url('../media/inputpage.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.nav {
    background-color: #27272752;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}
  
.nav-logo{
	position: absolute;
	top: 0;
	left: 0;
	margin: 8px 8px;
	height: 40px ;
	width: 200px;
	background-image: url(../media/Asset\ 2.png);
	background-position: center;
	background-size: contain;
	z-index: 999;
}
  
.nav-contents {
	backdrop-filter: blur(7px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;
	
    box-shadow:0px 2px 5px#33333367;
}

.contents{
    margin: 10px 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 20px;
    
    color: #ffffff;
    text-decoration: none;
	
}
.home{
	margin-left: 200px;
}
.contents:hover{
    background-color: #5a13de;
    color: white;
    
}
.contents:active{
    transform:translateX(2px);
    transform:translateY(2px);
}
.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.01rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 110px auto;
    padding: 40px;
    backdrop-filter: blur(15px);
    background-color: #00000027;
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.463);
    border-radius: 5px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 13px 0px;
    border: none;
    border-radius: 3px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}
.submit_area{
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 15px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: bold
}
button:active{
    transform: translateX(2px);
    transform: translateY(2px);
}

/* @media (max-width: 850px) {
    .nav-contents{
        display: none;
    }
    
    .toggle_btn .material-symbols-outlined{
        display: block;
        z-index: 999;
    }
} */