*{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0em;
    background-color: transparent;
}
body{
    background-image: url("../media/export_bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #520c95;
    font-family: 'Roboto', sans-serif;
}

  

  
  

.nav {
    background-color: #f2f2f200;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.home{
	margin-left: 200px;
}
.nav-logo{
	position: absolute;
	top: 0;
	left: 0;
	margin: 8px 8px;
	height: 40px ;
	width: 200px;
	background-image: url(../media/Asset\ 2.png);
	background-position: center;
	background-size: contain;
	z-index: 999;
}
  
.nav-contents {
	backdrop-filter: blur(5px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;
	
    box-shadow:0px 2px 10px#3333337f;
}

.contents{
    margin: 10px 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 20px;
    
    color: whitesmoke;
    text-decoration: none;
	
}
.contents:hover{
    background-color: whitesmoke;
    color: #000000;
    
    
}
.contents:active{
    transform:translateX(2px);
    transform:translateY(2px);
}
.first{
    margin-top:30px;
    color: #000000;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 140px;
    
}
.first-ans{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
   
}

.answer{
    background-color: #0e3e6e;
    border-radius: 7px;
    padding: 5px 15px ;
    font-size: 1.3 rem;
    color: whitesmoke;
}
.second_page{
   
    color: #e3e3e3;
   
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.des_page{
    max-width: 75%;
    min-width: 50%;
	font-family:'Poppins', sans-serif ;
	margin-top: 50px;
	border: 2px solid rgba(255, 255, 255, 0);
    background-color: #1d1d1d3c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(41, 41, 41, 0.325);
	padding: 20px 20px;
}

.con1 h1{
	transition: font-size 0.3s ease;
}
.con2 h1{
	transition: font-size 0.3s ease;
}
.con3 h1{
	transition: font-size 0.3s ease;
}


.des_headings{
	font-size: 30px;
	
	padding-left: 50px;
	
	
}
.wrapper{
    display: none;
}
.des_headings_right{
	font-size: 30px;
	
	padding-right: 50px;
	text-align: right;
	
}
.para_left{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: justify;
	padding-right: 90px;
	padding-left: 40px;
	
}
.para_right{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: justify;
	padding-left: 90px;
	padding-right: 40px;
	
}
.line{
	border-bottom: 2px solid rgb(147, 147, 147);
	width: 100%;
}
.con1:hover h1{
	font-size:  35px;
}
.con2:hover h1{
	font-size:  35px;
}
.con3:hover h1{
	font-size:  35px;
}

.aboutus{
    margin-top: 90px;
   
    width: 100%;
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #150556;
    border-top: 2px solid #ffffff;
}
.person{
    
    padding: 70px 40px;
    width: 100%;
    border-left: 1px solid whitesmoke;
    height: 100%;
}
.per_heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #e3e3e3;
}
.per_subheading{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #9d9d9d;
}
.per_details{
    font-family: 'Wix Madefor Display', sans-serif;
    margin-top: 20px;
    color: #d6d6d6;
}
@media only screen and (max-width: 900px) {
    .aboutus{
        flex-direction: column;
        padding: 20px 0px;
        
        text-align: center;
    }
    .person{
        border-bottom: 2px solid whitesmoke;
    }
    .per_details{
        padding: 0px 150px;
    }
}